.login_container {
  width: 100%;
  min-height: 100vh;
  font-family: var(--primary-font);
  background: url("/assets/lawrence.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_hero {
  display: flex;
  align-items: center;
}

.login_icon{
  position: absolute;
  bottom: 10px;
  right: 0;
  color: var(--primary-color);
  font-size: 2rem;
  margin: 2rem;
  animation: moveSVG 1s linear 10ms infinite forwards; 
}

.login_hero h2 {
  position: absolute;
  top: 10px;
  left: 0;
  color: var(--primary-color);
  padding: 0 2rem;
}

.login_wrapper {
  width: 50%;
  max-width: 500px;
}

.login_card {
  background-color: #fff;
  background-image: linear-gradient(to bottom, var(--secondary-color), rgba(0, 128, 0, 0.589), rgba(255, 255, 255, 0.5));
  border-radius: 10px;
  padding: 2rem;
}

.login_card_icon{
  font-size: 2rem;
  color: var(--alt-color-2);
}

.login_card span{
  background-color: var(--primary-color);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.login_card .icon{
  display: flex;
  justify-content: center;
}

.login_card p{
  font-size: 1rem;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-bottom: 1rem;
}

.login_card .login_details{
  font-size: .8rem;
  font-style: italic;
}

.login_card fieldset{
  border: none;
}

.login_card input{
  width: 100%;
  background-color: var(--alt-color);
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 1rem;
  padding: .75rem;
  color: black;
  font-weight: 500;
  margin-bottom: 1rem;
  cursor: pointer;
}

.login_card input:hover, .login_card input:focus{
  border: 2px solid var(--secondary-color);
}

.login_card .drop_down{
  display: flex;
  gap: .5rem;
}

.login_card label{
  font-weight: 700;
}

.login_card select{
  width: 100%;
 background-color: var(--alt-color);
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 12px;
  padding: .75rem;
  color: black;
  font-weight: 500;
  margin-bottom: 1rem;
  cursor: pointer;
}

.login_card select:hover, .login_card select:focus{
  border: 2px solid var(--secondary-color);
}

.login_card input::placeholder{
  color: black;
  font-weight: 500;
}

.login_card .btn{
    display: flex;
  justify-content: center;
}

@keyframes moveSVG {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}