.orderstock{
    padding-bottom: 2rem;
}

.orderstock_topbar{
    padding: 1rem 2rem;
    display: flex;
    justify-content: end;
}

.orderstock_rightbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.filter{
    display: flex;
    align-items: center;
    
}

.filter h2{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
    color: rgba(0, 0, 0, .9);
    font-size: 1rem;
    padding: .6rem;
    border-radius: .5rem;
    border: 2px solid var(--alt-color-2);
    background-color: #f8f6fa;
    cursor: pointer;
}

.orderstock_btn button{
    display: flex;
    gap: .5rem;
}

.orderstock_table{
    width: 97%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
}

.orderstock_table th {
    background-color: #fff;
    padding: 10px;
}

.orderstock_table th div{
    display: flex;
    align-items: center;
    gap: .25rem;
}

.orderstock_table td{
    padding: 0 10px;
    font-size: 18px;
    border-bottom: 2px solid #706f6f;
}

.orderstock_table td select{
    width: 125px;
    text-align: center;
}

.orderstock_table tr:nth-child(even) {
  background-color: #dddddd;
}
